nav
{
    background-color: lightgray;
    margin-top: 5px;
    padding: 20px 20px;
    font-size: 30px;
}

nav a {
    padding-left: 10rem;
    /* width: 22%; */

}

.container {
    display: flex;
    justify-content: space-around;
}
table {
    /* margin-left: 33%; */
    width: 33%;
}

table th,td {
    padding: 20px;
}
